$footer-height: rem-calc(80);

.page-home{
  padding-bottom: 0;
  @include breakpoint(medium){
    padding-bottom: rem-calc(40);
    padding-top: rem-calc(100);
    min-width: rem-calc(350);
  }

  @include breakpoint(large){
    padding-top: rem-calc(200);
  }

  footer{
    @include breakpoint(medium){
      position: absolute;
      bottom: 0;
      height: $footer-height;
      margin-top: 0;
    }
  }

  h1{
    text-align: center;
    border-bottom: 0;
  }

  .section-contact{
    .fa-stack-1x {
      color: #f9a31c;
    }
  }

  #twitter-widget-0{
    height: rem-calc(600) !important;
    width: 100% !important;
  }
}
