.page-home{
  @include breakpoint(medium){
    padding-top: rem-calc(100);
    min-width: rem-calc(350);
  }

  @include breakpoint(large){
    padding-top: rem-calc(200);
  }

  h1{
    text-align: center;
    border-bottom: 0;
  }

  .section-contact {
    font-size: rem-calc(30);
    text-align: center;

    .fa-stack-1x {
      color: #f9a31c;
    }

    @include breakpoint(medium){
      font-size: rem-calc(40);
    }
  }

  #twitter-widget-0{
    height: rem-calc(600) !important;
    width: 100% !important;
  }
}
