.section-contact {
  font-size: rem-calc(25);
  text-align: center;

  @include breakpoint(medium){
    font-size: rem-calc(40);
  }
}

.section-orange{
  background-color: $primary-color;
  color: $white;
}
