.logo-exploded-wrapper{
  @include flex();
  @include flex-align(center);
  height: 100vh;
}
.logo-exploded {
  @include flex();
  @include flex-align(center);
  @include flex-align-self(middle);
  height: rem-calc(492);
  position: relative;
  width: rem-calc(800);

  .logo-half-left,
  .logo-half-right{
    position: absolute;
  }

  .logo-half-left {
    left: -400px;
  }

  .logo-half-right {
    right: -400px;
  }

  .logo-text {
    @include flex-align-self(middle);
    left: 140px;
  }
}
