$footer-height: rem-calc(80);

.page-home{
  padding-bottom: 0;
  @include breakpoint(medium){
    padding-bottom: rem-calc(40);
    padding-top: rem-calc(100);
    min-width: rem-calc(350);
  }

  @include breakpoint(large){
    padding-top: rem-calc(200);
  }

  footer{
    position: static;
    height: auto;
    @include breakpoint(medium){
      position: absolute;
      bottom: 0;
      height: $footer-height;
      margin-top: 0;
    }
  }

  h1{
    text-align: center;
    border-bottom: 0;
  }

  .section-contact{
    .fa-stack-1x {
      color: #f9a31c;
    }
  }

  #twitter-widget-0{
    height: rem-calc(600) !important;
    width: 100% !important;
  }

  .team-members{
    .team-member{
      cursor: pointer;
      margin-bottom: rem-calc(15);
      img{
        margin-bottom: rem-calc(10);
      }
    }
  }
}

.popup-name{
  line-height: rem-calc(25);
  margin-bottom: rem-calc(5);
}
