<div class="intake-header white">
  <h1>4. Contact details</h1>
  <p>A few details to make communication go smoothly.</p>
</div>

<div class="input-group first">
  <div class="row">
    <div class="column small-6">
      <label>First Name</label>
      <input type="text" ng-model="contact.firstName" />
    </div>
    <div class="column small-6">
      <label>Last Name</label>
      <input type="text" ng-model="contact.lastName" />
    </div>
  </div>

  <div class="row">
    <div class="column small-6">
      <label>Phone</label>
      <input type="text" ng-model="contact.phone" />
    </div>
    <div class="column small-6">
      <label>Email</label>
      <input type="text" ng-model="contact.email" />
    </div>
  </div>
</div>

<div class="input-group">
  <label>Preferred method of contact</label>
  <input type="radio" ng-model="contact.method" name="contact-method" value="Email" id="contact-method-email"><label for="contact-method-email">Email</label>
  <input type="radio" ng-model="contact.method" name="contact-method" value="Phone" id="contact-method-phone"><label for="contact-method-phone">Phone</label>
</div>

<div class="input-group">
  <label>Any additional comments or things we should know?</label>
  <textarea ng-model="contact.comments" />
</div>

<a class="button large" href="#">Next Step</a>
