<div class="intake-header white">
  <h1>1. Lifestyle</h1>
  <p class="intake-subheader">Understanding what makes up your days helps us design for the functional needs of your space.</p>
</div>


<div class="intake-content">
  <div class="input-group first">
    <label>What are your interests and hobbies?</label>
    <textarea ng-model="lifestyle.hobbies"></textarea>
  </div>

  <div class="margin-top-xlarge" />
  <h6>Describe an average day</h6>
  <div class="margin-top-xlarge" />

  <div class="input-group">
    <div class="row">
      <div class="column small-4">
        <label>Morning</label>
        <textarea ng-model="lifestyle.morning"></textarea>
      </div>

      <div class="column small-4">
        <label>Afternoon</label>
        <textarea ng-model="lifestyle.afternoon"></textarea>
      </div>

      <div class="column small-4">
        <label>Evening</label>
        <textarea ng-model="lifestyle.evening"></textarea>
      </div>
    </div>
  </div>

  <div class="input-group">
    <label>What words would you use to describe your personality?</label>
    <div class="row">
      <div class="column small-5">
        <input type="text" ng-model="lifestyle.personality" />
      </div>
    </div>
  </div>

  <div class="input-group">
    <label>How often do you entertain overnight guests?</label>
    <input ng-model="lifestyle.overnightGuests" type="radio" name="overnight-guests" value="Never" id="overnight-never"><label for="overnight-never">Never</label>
    <input ng-model="lifestyle.overnightGuests" type="radio" name="overnight-guests" value="Rarely" id="overnight-rarely"><label for="overnight-rarely">Rarely</label>
    <input ng-model="lifestyle.overnightGuests" type="radio" name="overnight-guests" value="Occasionally" id="overnight-occassionally"><label for="overnight-occassionally">Occasionally</label>
    <input ng-model="lifestyle.overnightGuests" type="radio" name="overnight-guests" value="Frequently" id="overnight-frequently"><label for="overnight-frequently">Frequently</label>
  </div>

  <div class="input-group">
    <label>Do you entertain?</label>
    <input ng-model="lifestyle.entertain" type="radio" name="entertain" value="Never" id="entertain-never"><label for="entertain-never">Never</label>
    <input ng-model="lifestyle.entertain" type="radio" name="entertain" value="Rarely" id="entertain-rarely"><label for="entertain-rarely">Rarely</label>
    <input ng-model="lifestyle.entertain" type="radio" name="entertain" value="Occasionally" id="entertain-occassionally"><label for="entertain-occassionally">Occasionally</label>
    <input ng-model="lifestyle.entertain" type="radio" name="entertain" value="Frequently" id="entertain-frequently"><label for="entertain-frequently">Frequently</label>
  </div>

  <div class="input-group">
    <label>Do you work from home?</label>
    <input ng-model="lifestyle.workHome" type="radio" name="work-home" value="Yes" id="work-home-never"><label for="work-home-never">Yes</label>
    <input ng-model="lifestyle.workHome" type="radio" name="work-home" value="No" id="work-home-rarely"><label for="work-home-rarely">No</label>
    <input ng-model="lifestyle.workHome" type="radio" name="work-home" value="Sometimes" id="work-home-occassionally"><label for="work-home-occassionally">Sometimes</label>
  </div>

  <div class="input-group">
    <label>Do you have or plan to add any of these pets to your home?</label>
    <input ng-model="lifestyle.pets.dogs" type="checkbox" name="pet-dogs" value="dogs" id="pet-dogs"><label for="pet-dogs">Dogs</label>
    <input ng-model="lifestyle.pets.cats" type="checkbox" name="pet-cats" value="cats" id="pet-cats"><label for="pet-cats">Cats</label>
    <input ng-model="lifestyle.pets.birds" type="checkbox" name="pet-birds" value="birds" id="pet-birds"><label for="pet-birds">Birds</label>
    <input ng-model="lifestyle.pets.fish" type="checkbox" name="pet-fish" value="fish" id="pet-fish"><label for="pet-fish">Fish</label>
    <input ng-model="lifestyle.pets.other" type="checkbox" name="pet-other" value="other" id="pet-other"><label for="pet-other">Other</label>
  </div>

  <div class="input-group">
    <label>Do you have any of these items in your home?</label>
    <div class="row">
      <div class="column small-12">
        <input ng-model="lifestyle.items.cds" type="checkbox" name="items-cds" value="CDs" id="items-cds"><label for="items-cds">CDs</label>
        <input ng-model="lifestyle.items.dvds" type="checkbox" name="items-dvds" value="DVDs" id="items-dvds"><label for="items-dvds">DVDs</label>
        <input ng-model="lifestyle.items.records" type="checkbox" name="items-records" value="Records" id="items-records"><label for="items-records">Records</label>
        <input ng-model="lifestyle.items.books" type="checkbox" name="items-books" value="Books" id="items-books"><label for="items-books">Books</label>
      </div>
    </div>
    <div class="row padding-top-default">
      <div class="column small-12">
        <input ng-model="lifestyle.items.instruments" type="checkbox" name="items-instruments" value="Musical Instruments" id="items-instruments"><label for="items-instruments">Musical Instruments</label>
      </div>
    </div>
  </div>

  <a class="button large pull-right" href="#/intake/place#intake-top">Next Step</a>
</div>
