<p class="editable"><a data-email-protector="contact|cprobotics.dk">contact@cprobotics.dk</a></p>

<!-- twitter -->
<span class="fa-stack fa-lg">
  <a href="https://twitter.com/cprobots" target="new">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
  </a>
</span>

<!-- linked in -->
<span class="fa-stack fa-lg">
  <a href="https://www.linkedin.com/company/corepath-robotics" target="new">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
  </a>
</span>

<!-- google plus -->
<span class="fa-stack fa-lg">
  <a href="https://plus.google.com/b/113973477501005567675/113973477501005567675" target="new">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
  </a>
</span>
