<footer>
  <div class="row expanded">
    <div class="small-12 medium-6 columns small-order-2 medium-order-1 text-center medium-text-left">
      Copyright {{ 'now' | date: "%Y" }} CP Robotics. <span class="nobr">All Rights Reserved</span>
      | <a href="/cookie-info/">Cookie info</a>
      <author id="made-by"><a href="http://www.JulianJorgensen.com" target="new">Made by Front-End Engineer Julian Jorgensen, Vancouver</a></author>
    </div>
    <div class="small-12 medium-6 columns small-order-1 medium-order-2 text-center medium-text-right">

        <ul class="nav-items margin-none">
          {% for item in site.data.nav-items %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>

    </div>
  </div>
</footer>
