// --------------------------------------------------
// Headings
// --------------------------------------------------


h1{
  border-bottom: 2px solid $primary-color;
  margin-bottom: rem-calc(30);
}

h2{
  &.large{
    font-size: rem-calc(50);
  }
}

h1, h2, h3, h4, h5, h6{
  font-weight: 500;
}
