---
---

<!-- MARQUEE LANDING -->
<!-- =============== -->
<section class="marquee">
  <div class="container">
    <div class="marquee-landing">
      <div class="marquee-landing-headline text-right">
        <h2>Skip the showroom</h2>
        <p>Custom-Furnished living spaces at up to 50% below retail, delivered to your door.</p>
      </div>

      <div class="marquee-landing-tabs">
        <div ng-model="tabs" ng-init="tabs = 'tab1'">
          <div class="tabs-content">
            <div role="tabpanel" aria-hidden="false" class="content" ng-class="{'active': tabs == 'tab1'}">
              <h2>Leave the sales talk behind</h2>
              <p>A modern, swedish inspired multi-use space: Sofa, dining table & chairs</p>
              <div class="row">
                <div class="column small-6">
                  <h5>On your own</h5>
                  <ul>
                    <li>14hrs in showrooms</li>
                    <li>129km driving</li>
                    <li>Delivery $80</li>
                    <li>Installation 3hrs</li>
                    <li>Retail price $4875</li>
                  </ul>
                </div>
                <div class="column small-6">
                  <h5>By Avenue</h5>
                  <ul>
                    <li>30 minutes total time</li>
                    <li>$3000, delivered and installed</li>
                  </ul>
                </div>
              </div>
            </div>
            <div role="tabpanel" aria-hidden="true" class="content" ng-class="{'active': tabs == 'tab2'}">
              <h2>Contemporary panel</h2>
              <p>Lorem ipsum dolar et lama</p>
              <div class="row">
                <div class="column small-6">
                  <h5>On your own</h5>
                  <ul>
                    <li>14hrs in showrooms</li>
                    <li>129km driving</li>
                    <li>Delivery $80</li>
                    <li>Installation 3hrs</li>
                    <li>Retail price $4875</li>
                  </ul>
                </div>
                <div class="column small-6">
                  <h5>By Avenue</h5>
                  <ul>
                    <li>30 minutes total time</li>
                    <li>$3000, delivered and installed</li>
                  </ul>
                </div>
              </div>
            </div>
            <div role="tabpanel" aria-hidden="true" class="content" ng-class="{'active': tabs == 'tab3'}">
              <h2>Modern panel</h2>
              <p>Lorem ipsum dolar et lama</p>
              <div class="row">
                <div class="column small-6">
                  <h5>On your own</h5>
                  <ul>
                    <li>14hrs in showrooms</li>
                    <li>129km driving</li>
                    <li>Delivery $80</li>
                    <li>Installation 3hrs</li>
                    <li>Retail price $4875</li>
                  </ul>
                </div>
                <div class="column small-6">
                  <h5>By Avenue</h5>
                  <ul>
                    <li>30 minutes total time</li>
                    <li>$3000, delivered and installed</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <ul class="tabs-naked white margin-top-xxlarge" data-tab role="tablist">
            <div class="row">
              <div class="column small-3">
                <li class="tab-title" role="presentational" ng-class="{'active': tabs == 'tab1'}"><h6><a ng-click="tabs = 'tab1'" role="tab" tabindex="0" aria-selected="true" controls="panel2-1">Classic</a></h6></li>
              </div>
              <div class="column small-6 text-center">
                <li class="tab-title" role="presentational" ng-class="{'active': tabs == 'tab2'}"><h6><a ng-click="tabs = 'tab2'" role="tab" tabindex="0"aria-selected="false" controls="panel2-2">Contemporary</a></h6></li>
              </div>
              <div class="column small-3 text-right">
                <li class="tab-title" role="presentational" ng-class="{'active': tabs == 'tab3'}"><h6><a ng-click="tabs = 'tab3'" role="tab" tabindex="0" aria-selected="false" controls="panel2-3">Modern</a></h6></li>
              </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>



<section>
  <div class="content">
    <div class="row">
      <div class="column small-7 text-right">
        <div>High-quality furnishings</div>
        <div>selected for you and your home tailored to your style</div>
      </div>
      <div class="column small-1 text-center">
        or
      </div>
      <div class="column small-4">
        <small>Need to fill a space yesterday?</small>
        <h3>Try our fast track service</h3>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <ul class="small-block-grid-3">
      <li><img src="{% asset_path placeholder.png %}" /></li>
      <li><img src="{% asset_path placeholder.png %}" /></li>
      <li><img src="{% asset_path placeholder.png %}" /></li>
    </ul>
  </div>
</section>


<section>
  <div class="container text-center">
    The key to find a good personal style is to start with how you live.
    <h3>Use avenue's lifestyle guide to tune into your true style</h3>
  </div>
</section>


<!-- MARQUEE -->
<!-- =============== -->
<section class="marquee">
  <div class="container">
    How you live is made up of a lot of things. For example, what's your ideal spot to dine?
  </div>
</section>


<section>
  <div class="container">
    <ul class="small-block-grid-3 buttons active">
      <li><div class="button"><a class="button-content" href="#">Some place serving an interesting Thai/Japanese fusion dish</a></div></li>
      <li><div class="button"><a class="button-content" href="#">My local cafe</a></div></li>
      <li><div class="button active"><a class="button-content" href="#">The newest fine dining restaurant in town</a></div></li>
    </ul>
  </div>
</section>
