---
---

<!-- MARQUEE LANDING -->
<!-- =============== -->
<section class="marquee marquee-landing" ng-controller="tabsController as tab">
  <div class="marquee-overlay"></div>
  <div class="marquee-background bg-1" ng-class="{active: tab.isSelected(1)}"></div>
  <div class="marquee-background bg-2" ng-class="{active: tab.isSelected(2)}"></div>
  <div class="marquee-background bg-3" ng-class="{active: tab.isSelected(3)}"></div>

  <div class="container">
    <div class="marquee-content">
      <div class="marquee-landing-headline text-right">
        <h2>Skip the showroom</h2>
        <p>Custom-Furnished living spaces at up to 50% below retail, delivered to your door.</p>
      </div>

      <div class="marquee-landing-tabs">
        <div ng-model="tabs">
          <div class="tabs-content">
            <div role="tabpanel" aria-hidden="false" class="content" ng-class="{active: tab.isSelected(1)}">
              <h2 class="light">Leave the sales<br>talk behind</h2>
              <p class="margin-top-large margin-bottom-large">A modern, swedish inspired multi-use space: Sofa, dining table & chairs</p>
              <div class="row">
                <div class="column small-6">
                  <h5 class="light">On your own</h5>
                  <ul>
                    <li>14hrs in showrooms</li>
                    <li>129km driving</li>
                    <li>Delivery $80</li>
                    <li>Installation 3hrs</li>
                    <li>Retail price $4875</li>
                  </ul>
                </div>
                <div class="column small-6">
                  <h5 class="light">By Avenue</h5>
                  <ul>
                    <li>30 minutes total time</li>
                    <li>$3000, delivered and installed</li>
                  </ul>
                </div>
              </div>
            </div>
            <div role="tabpanel" aria-hidden="true" class="content" ng-class="{active: tab.isSelected(2)}">
              <h2 class="light">Contemporary panel</h2>
              <p class="margin-top-large margin-bottom-large">A modern, swedish inspired multi-use space: Sofa, dining table & chairs</p>
              <div class="row">
                <div class="column small-6">
                  <h5 class="light">On your own</h5>
                  <ul>
                    <li>14hrs in showrooms</li>
                    <li>129km driving</li>
                    <li>Delivery $80</li>
                    <li>Installation 3hrs</li>
                    <li>Retail price $4875</li>
                  </ul>
                </div>
                <div class="column small-6">
                  <h5 class="light">By Avenue</h5>
                  <ul>
                    <li>30 minutes total time</li>
                    <li>$3000, delivered and installed</li>
                  </ul>
                </div>
              </div>
            </div>
            <div role="tabpanel" aria-hidden="true" class="content" ng-class="{active: tab.isSelected(3)}">
              <h2 class="light">Modern panel</h2>
              <p class="margin-top-large margin-bottom-large">A modern, swedish inspired multi-use space: Sofa, dining table & chairs</p>
              <div class="row">
                <div class="column small-6">
                  <h5 class="light">On your own</h5>
                  <ul>
                    <li>14hrs in showrooms</li>
                    <li>129km driving</li>
                    <li>Delivery $80</li>
                    <li>Installation 3hrs</li>
                    <li>Retail price $4875</li>
                  </ul>
                </div>
                <div class="column small-6">
                  <h5 class="light">By Avenue</h5>
                  <ul>
                    <li>30 minutes total time</li>
                    <li>$3000, delivered and installed</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <ul class="tabs-naked white margin-top-xxlarge" data-tab role="tablist">
            <div class="row">
              <div class="column small-3">
                <li class="tab-title" role="presentational" ng-click="tab.selectTab(1)" ng-class="{active: tab.isSelected(1)}"><h6><a role="tab" tabindex="0" aria-selected="true" controls="panel2-1">Classic</a></h6></li>
              </div>
              <div class="column small-6 text-center">
                <li class="tab-title" role="presentational" ng-click="tab.selectTab(2)" ng-class="{active: tab.isSelected(2)}"><h6><a role="tab" tabindex="1" aria-selected="false" controls="panel2-2">Contemporary</a></h6></li>
              </div>
              <div class="column small-3 text-right">
                <li class="tab-title" role="presentational" ng-click="tab.selectTab(3)" ng-class="{active: tab.isSelected(3)}"><h6><a role="tab" tabindex="2" aria-selected="false" controls="panel2-3">Modern</a></h6></li>
              </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="separator"></div>

<section class="section">
  <div class="container flex-center">
    <div class="column small-6 text-right">
      <h6>High-quality furnishings<br>selected for you and your home tailored to your style</h6>
    </div>
    <div class="column small-1 text-center">
      <small>OR</small>
    </div>
    <div class="column small-5">
      <div class="cta">
        <small>Need to fill a space yesterday?</small>
        <h5>Try our fast track service <i class="fa fa-caret-right pull-right"></i></h5>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</section>

<div class="separator"></div>

<section class="section">
  <div class="container">
    <ul class="small-block-grid-3 images-selector">
      <li style="background-image: url('{% asset_path 'placeholder.png' %}');">
        <div class="overlay">
          <h6 class="overlay-text">How do you know your style?</h6>
        </div>
      </li>
      <li style="background-image: url('{% asset_path 'placeholder.png' %}');">
        <div class="overlay">
          <h6 class="overlay-text">How do you know your style?</h6>
        </div>
      </li>
      <li style="background-image: url('{% asset_path 'placeholder.png' %}');">
        <div class="overlay">
          <h6 class="overlay-text">How do you know your style?</h6>
        </div>
      </li>
    </ul>
  </div>
  <div class="clearfix"></div>
</section>

<div class="separator large"></div>

<section class="section">
  <div class="container text-center">
    The key to find a good personal style is to start with how you live.
    <h3>Use avenue's lifestyle guide to tune into your true style</h3>
  </div>
</section>

<div class="separator large"></div>

<!-- QUESTION: CUISINE -->
<section id="question-cuisine" class="section">
  <choices
    question="How you live is made up of a lot of things. For example, what's your ideal spot to dine?"
    first="Some place serving an interesting Thai/Japanese fusion dish" first-description="This tells us that lorem ipsum" first-image="{{ 'av_moodboard.jpg' | asset_path }}"
    second="My local cafe" second-description="This tells us more that lorem ipsum" second-image="{{ '5-2.jpg' | asset_path }}"
    third="The newest fine dining restaurant in town" third-description="This tells us that modern, perhaps more minimal settings, might be to your liking" third-image="{{ '2048-3.jpg' | asset_path }}"
    marquee-bleed="true"
    />
</section>

<div class="separator large"></div>

<!-- QUESTION: TRANSPORTATION -->
<section id="question-transportation" class="section">
  <h2 class="text-center">How about your preferred way to get somewhere?</h2>
  <choices
    first="My Bike" first-description="This tells us that lorem ipsum"
    second="An Airplane" second-description="The adventure of travel to far off places informs your taste with global sensibility. You might also be on the road a lot, shaping a lot of your home life."
    third="My Car" third-description="This tells us that modern, perhaps more minimal settings, might be to your liking"
    activate-content="#question-groceries" />
</section>


<!-- QUESTION: GROCERIES -->
<section id="question-groceries" class="section hide">
  <div class="container text-center">

    <div class="separator large line">
      <div class="separator-text">3</div>
    </div>

    <choices
      question="Let's talk home basics: where do you buy your groceries?"
      first="An Organic food shop" first-description="This tells us that lorem ipsum" first-image="{{ '5.jpg' | asset_path }}"
      second="A local fresh produce market" second-description="The adventure of travel to far off places informs your taste with global sensibility. You might also be on the road a lot, shaping a lot of your home life." second-image="{{ '5-1.jpg' | asset_path }}"
      third="A Grocery Store" third-description="This tells us that modern, perhaps more minimal settings, might be to your liking" third-image="{{ '5-2.jpg' | asset_path }}"
      template-url="choices-vertical" align="right" activate-content="#question-free-time" />
  </div>
</section>

<!-- QUESTION: FREE TIME -->
<section id="question-free-time" class="section hide">
  <div class="container text-center">

    <div class="separator large line">
      <div class="separator-text">4</div>
    </div>

    <choices
      question="What's your favourite way to spend free time?"
      first="Reading the paper or a good book while listening to my favourite music" first-description="This tells us that lorem ipsum" first-image="{{ '2048-1.jpg' | asset_path }}"
      second="Having a drink with friends" second-description="The adventure of travel to far off places informs your taste with global sensibility. You might also be on the road a lot, shaping a lot of your home life." second-image="{{ '2048-2.jpg' | asset_path }}"
      third="Yoga or a good run through the park" third-description="This tells us that modern, perhaps more minimal settings, might be to your liking" third-image="{{ '2048.jpg' | asset_path }}"
      template-url="choices-vertical-background" activate-content="#question-furniture" choices-color="white" />
  </div>
</section>


<!-- QUESTION: FURNITURE -->
<section id="question-furniture" class="section hide">
  <div class="container">
    <div class="separator large line">
      <div class="separator-text">A quick break</div>
    </div>

    <div class="row">
      <div class="column small-6">
        <img src="{{ '5.jpg' | asset_path }}" />
      </div>

      <div class="column small-6 text-center">
        <h3>We're about half-way there. Now that we've talked about how you like to live, let's spend a bit of time talking about your furniture preferences.</h3>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <div class="separator large line">
      <div class="separator-text">5</div>
    </div>

    <choices
      question="When you buy furniture, what do you consider most important?"
      first="Function" first-description="This tells us that lorem ipsum" first-image="{{ '2048-4.jpg' | asset_path }}"
      second="Comfort & Affordability" second-description="The adventure of travel to far off places informs your taste with global sensibility. You might also be on the road a lot, shaping a lot of your home life." second-image="{{ '2048-3.jpg' | asset_path }}"
      third="Quality & Style" third-description="This tells us that modern, perhaps more minimal settings, might be to your liking" third-image="{{ '2048-6.jpg' | asset_path }}"
      template-url="choices-vertical" align="left" activate-content="section#free-time" />
  </div>
</section>

<div class="clearfix"></div>
