@import 'bourbon';
@import '../mixins';
@import '../variables_custom';
@import '../variables_foundation';


.page-intake{

  .hero{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 360px;
    z-index: -1;
    @include cover(center, center);
  }

  .top-bar .logo svg{
    g, path{
      fill: $white;
    }
  }

  .nav-contact{
    visibility: hidden;
  }

  .top-bar .nav-items .nav-item{
    border-bottom-color: $white;
    a{
      color: $white;
    }
  }

  .intake-header{
    margin-top: $spacing-xxlarge;
    height: 115px;

    .intake-subheader{
      font-size: rem-calc(20);
      line-height: rem-calc(20);
    }

    &.first{
      border-right: 1px solid $white;
      padding-right: $spacing-default;
    }
  }

  .intake-content{
    margin-top: $spacing-xlarge;
  }

  .subnav{
    padding-top: $spacing-xlarge;
    padding-right: $spacing-default;
    border-right: 1px solid $gray50;
  }
}
