.figure-one {
  -skrollr-animation-name:animation1;
}
@-skrollr-keyframes animation1 {
  bottom {
    opacity: 0;
  }

  -50-bottom {
    opacity: 1;
  }
}

.figure-two {
  -skrollr-animation-name:animation2;
}
@-skrollr-keyframes animation2 {
  bottom {
    opacity: 0;
  }

  -150-bottom {
    opacity: 1;
  }
}

.figure-three {
  -skrollr-animation-name:animation3;
}
@-skrollr-keyframes animation3 {
  bottom {
    opacity: 0;
  }

  -300-bottom {
    opacity: 1;
  }
}


.solution-points {
  -skrollr-animation-name:animation4;
}
@-skrollr-keyframes animation4 {
  bottom {
    margin-left: 50px;
    opacity: 0;
  }

  -50-bottom {
    margin-left: 0px;
    opacity: 1;
  }
}


.logo-half-right {
  -skrollr-animation-name:animation5;
}
@-skrollr-keyframes animation5 {
  600-end {
    right: -200px;
    opacity: 0;
  }

  -200-end {
    right: 0px;
    opacity: 1;
  }
}

.logo-half-left {
  -skrollr-animation-name:animation6;
}
@-skrollr-keyframes animation6 {
  600-end {
    left: -200px;
    opacity: 0;
  }

  -200-end {
    left: 0px;
    opacity: 1;
  }
}

.logo-text{
  -skrollr-animation-name:animation7;
}
@-skrollr-keyframes animation7 {
  600-end {
    opacity: 0;
    -webkit-transform: scale(0);
  }

  -200-end {
    opacity: 1;
    -webkit-transform: scale(0.8);
  }
}
