@import 'bourbon';
@import '../variables_custom';
@import '../variables_foundation';
@import '../mixins';
@import "../vendor/foundation/components/block-grid";


// CHOICES HORIZONTAL
// ==========================
.choices-container{
  &.horizontal{
    .choices{
      @include block-grid(
          // This controls how many elements will be on each row of the block grid. Set this to whatever number you need, up to the max allowed in the variable.
          // Available options: 1-12 by default, and false.
          $per-row: 3,

          // This controls how much space is between each item in the block grid.
          // Use a variable or any pixel or em values.
          $spacing: $block-grid-default-spacing,

          // This controls whether or not base styles come through, set to false to leave out.
          $base-style: true
        );

      > li{
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}


// CHOICES VERTICAL
// ==========================
.choices-container.vertical{
  .choices{
    .button{
      margin-bottom: $spacing-default;
    }
  }
}



// CHOICES ICONS
// ==========================
.choices-container{
  .choices-icon{
    text-align: center;
    height: 150px;
    margin: $spacing-xlarge 0;
    cursor: pointer;

    svg{
      height: 100%;
      max-width: 100%;
      @include transition(transform $transition-speed-default);
    }

    &.active{
      svg{
        @include transform(scale(1.3));

        g{
          fill: $black;
        }
      }
    }
  }
}


// CHOICES BUTTONS
// =====================
$choices-button-height: 100px;

.choices{
  @include no-bullets();

  li{
    padding-top: 0;
    padding-bottom: 0;
  }

  .button{
    @include align-items(center);
    @include display(flex);
    @include justify-content(center);
    @include transition(opacity $transition-speed-default);
    height: $choices-button-height;

    .button-content{
      padding: 0;
      color: $black;
      @include transition(color $transition-speed-default);
    }
  }
}


// CHOICES COLORS
// ==========================
.choices-container{

  // shared
  .choices.active{
    .button:not(.active){
      opacity: 0.3;
      border-color: $black;
      &:hover{
        opacity: 0.6;
      }
    }
  }


  // white buttons
  &.color-white{
    .choices-question{
      color: $white;
    }

    .choices{
      .button{
        border-color: $white;

        .button-content{
          color: $white;
        }
      }


      // active white choices
      &.active{
        .button:not(.active){
          border-color: $white;

            .button-content{
              color: $black;
            }
        }

        .button{
          background-color: $white;

          &.active{
            .button-content{
                color: $polo;
            }
          }
        }
      }
    }
  }

  // default buttons
  &.color-default{
    .choices{
      .button{
        &:hover{
          .button-content{
            color: $white;
          }
        }
      }

      &.active{
        background-color: $polo;
        a{
          color: $white;
        }
      }
    }
  }
}


// CHOICES IMAGE
// =====================
.choices-container .choices-image{
  height: 500px;
  width: 500px;
}


// CHOICES DESCRIPTION
// =====================
.choice-description{
  p{
    font-size: rem-calc(20);
    font-style: italic;
    max-width: 500px;
    margin-bottom: 0;
  }
}


// CHOICES BG
// =================
.choices-background{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


// CHOICES MARQUEE
// =================

.choices-marquee{
  position: relative;
  margin-bottom: $spacing-default;

  img{
    width: 100%;
  }

  &.bleed{
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .choices-question{
      position: absolute;
      bottom: $spacing-xlarge;
      max-width: inherit;
    }
  }
}
