@import 'bourbon';
@import '../mixins';
@import '../variables_custom';
@import '../variables_foundation';

section#contact{
  position: absolute;
  background-color: $white;
  top: 125px;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 0;
  z-index: 999;
  @include transition(all $transition-speed-default);

  .container{
    padding: 0;
  }

  .newsletter-image{
    border: 2px solid $polo;
    border-bottom: 0;
  }

  #mce-EMAIL{
    height: auto;
  }

  &.active{
    height: 240px;
    @include box-shadow($gray80, 1px, 27px, 15px);
  }
}
