@import 'bourbon';
@import '../variables_custom';
@import '../variables_foundation';
@import '../mixins';


// CTAs (almost like buttons but different)
// =====================
.cta{
  // cta icon
  .cta-icon{
    height: 140px;
    margin: $spacing-xlarge 0;

    svg{
      @include transition(all $transition-speed-default);
    }
  }

  // cta button
  .cta-button{
    @include align-items(center);
    @include display(flex);
    @include justify-content(center);
    @include transition(all $transition-speed-default);
    height: $button-height;
    margin-bottom: $spacing-large;

    .button-content{
      padding: 0;
      color: $black;
      @include transition(color $transition-speed-default);
    }
  }

  &:hover{
    .cta-icon{
      svg{
        @include transform(scale(1.3));

        g{
          fill: $black;
        }
      }
    }
  }

  &:active{
    .cta-icon{
      svg{
        @include transform(scale(1));
      }
    }
  }
}
