@import 'bourbon';
@import 'variables_foundation';
@import 'variables_custom';
@import 'mixins';
@import "../vendor/foundation/components/block-grid";


.images-grid{

  &.grid-2{
    @include block-grid(
      $per-row: 2,
      $spacing: $spacing-large,
      $base-style: true
    );
  }

  &.grid-3{
    @include block-grid(
      $per-row: 3,
      $spacing: $spacing-default,
      $base-style: true
    );
  }

  &.grid-5{
    @include block-grid(
      $per-row: 5,
      $spacing: 5px,
      $base-style: true
    );
  }

  > li{
    padding-bottom: 0 !important;
  }

  .images-grid-inner{
    position: relative;
    min-height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    // .overlay{
    //   @include align-items(center);
    //   @include display(flex);
    //   @include justify-content(center);
    //   opacity: 0;
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   width: 100%;
    //   height: 100%;
    //   background-color: rgba($black, 0.5);
    //   @include transition(all $transition-speed-default);
    //
    //   .overlay-text{
    //     color: $white;
    //     text-align: center;
    //   }
    // }
    //
    // &:hover{
    //   .overlay{
    //     opacity: 1;
    //   }
    // }
  }
}



// suggested thumbnails (5 small little images below the 2 major suggested styles)
.images-grid .suggested-thumbnails{
  margin: $spacing-default;

  > li.active{
    position: relative;

    &:after{
      content: "";
      position: absolute;
      bottom: -$spacing-small;
      left: 0;
      border-bottom: 2px solid #666666;
      width: 100%;
    }
  }
}
