@import 'bourbon';
@import 'variables_foundation';
@import 'variables_custom';

// DEFAULT MARQUEE
.marquee{
  position: relative;
  padding: $spacing-large 0;

  .marquee-overlay,
  .marquee-background{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .marquee-overlay{
    background-color: rgba($black, 0.5);
    z-index: -1;
  }

  .marquee-background{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    opacity: 0;

    &.active{
      opacity: 1;
    }
  }

  &.white{
    &, h1, h2, h3, h4, h5, h6{
      color: $white;
    }
  }


  // MARQUEE LANDING (FIRST ONE)
  &.marquee-landing{
    height: 600px;
    @extend .white;

    .marquee-background{
      &.bg-1{
        background-image: image-url('2048-4.jpg');
      }
      &.bg-2{
        background-image: image-url('2048-3.jpg');
      }
      &.bg-3{
        background-image: image-url('affordable-home-furniture-reviewhigh-resolution-image--home-design-ideas-online-furniture-stores-9gs7tx2h.jpg');
      }
    }

    .marquee-content{
      @include display(flex);
      @include justify-content(flex-end);

      .marquee-landing-headline{
        @include flex(1);
        max-width: 300px;
        padding-right: $spacing-default;
      }
      .marquee-landing-tabs{
        @include flex(1);
        max-width: 500px;
        padding-left: $spacing-default;
      }
    }
  }
}
