@import 'bourbon';
@import 'variables_foundation';
@import 'variables_custom';
@import 'mixins';

.subnav{
  @include no-bullets;
  font-size: rem-calc(18);

  li.active{
    a{
      font-weight: 600;      
    }
  }

  li a{
    color: $black;
    font-weight: 100;
  }
}
