@import 'bourbon';
@import 'variables_foundation';
@import 'variables_custom';
@import 'mixins';

.marquee-tabs{
  position: absolute;
  bottom: $spacing-default;
  right: $spacing-large;
  @include no-bullets;
  .tab-title{
    display: inline-block;
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: $spacing-default;

    &.active{
      border-bottom: 2px solid;
    }
  }
  &.white{
    .tab-title.active{
      border-color: $white;
    }
  }
}
