@import 'bourbon';
@import '../variables_custom';
@import '../variables_foundation';

.top-bar{
  padding: 40px 0;
  background-color: transparent;

  .logo{
    float: left;
    width: 150px;
  }

  .nav-items{
    .nav-item{
      margin-right: 40px;
      border-bottom: 2px solid transparent;
      font-family: $font-family-serif;

      a{
        color: $gray40;
      }

      &:hover{
        border-bottom-color: $gray40;
      }
    }

    .nav-item, .nav-contact{
      display: inline-block;
    }

    // contact nav item
    .nav-contact{
      position: relative;
      top: -4px;

      &.active{
        &:after, &:before{
          content: "";
          position: absolute;
          left: 50%;
        }

        &:before{
          @include triangle(16px, $gray40, down);
          margin-left: -11px;
          bottom: -14px;
        }

        &:after{
          @include triangle(12px, $white, down);
          margin-left: -9px;
          bottom: -12px;
        }
      }
    }
  }
}

.email-wrapper{
  .email-input-wrapper{
    width: 300px;
    margin-right: $spacing-small;
    float: right;
  }

  .email-send{
    height: 43px;
  }
}
