@mixin box-shadow($color: $gray80, $size1: 1px, $size2: 6px, $size3: 15px)
{
  -webkit-box-shadow: $color $size1 $size2 $size3;
  -moz-box-shadow: $color $size1 $size2 $size3;
  -ms-box-shadow: $color $size1 $size2 $size3;
  box-shadow: $color $size1 $size2 $size3;
}

@mixin no-bullets{
    padding: 0;
    margin: 0;
    list-style-type: none;
}


@mixin cover($positionX, $positionY){
  background-size: cover;
  background-repeat: no-repeat;
  background-position: $positionX $positionY;
}
