@mixin box-shadow($color, $opacity: 0.3)
{
  -webkit-box-shadow: rgba($color, $opacity) 0 0 10px;
  -moz-box-shadow: rgba($color, $opacity) 0 0 10px;
  -ms-box-shadow: rgba($color, $opacity) 0 0 10px;
  box-shadow: rgba($color, $opacity) 0 0 10px;
}

@mixin no-bullets{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
