@mixin box-shadow($color, $opacity: 0.3)
{
  -webkit-box-shadow: rgba($color, $opacity) 0 0 10px;
  -moz-box-shadow: rgba($color, $opacity) 0 0 10px;
  -ms-box-shadow: rgba($color, $opacity) 0 0 10px;
  box-shadow: rgba($color, $opacity) 0 0 10px;
}

//
// @TODO: Custon Media
//
@mixin custom_media($size) {
  @media screen and (max-width: #{$size}px){
    @content;
  }
}

//
// @TODO: Add docs to media!
//
@mixin media($size) {

  $small: "(max-width: 640px)";
  $medium: "(max-width: 1024px)";
  $large: "(max-width: 1440px)";

  @if $size == large {
    @media #{$large} { @content; }
  }
  @else if $size == medium {
    @media #{$medium} { @content; }
  }
  @else if $size == small {
    @media #{$small}  { @content; }
  }

}
