@import 'bourbon';
@import '../variables_custom';
@import '../variables_foundation';
@import '../mixins';

.button.light{
  border-color: $gray20;
  padding: $spacing-small $spacing-default;
}


.button.gray{
  background-color: $gray20;
  color: $white;
  text-transform: uppercase;
  border: 0;
  font-weight: 600;
}
