@import 'bourbon';
@import '../variables_custom';
@import '../variables_foundation';


label{
  margin-bottom: $spacing-default;
}

textarea{
  border: 1px solid $gray40;
}

input{
  font-size: rem-calc(18);
}


.inline-list{
  margin-bottom: 0;

  > li:first-child{
    margin-left: 0;
  }
}

.input-group{
  margin: $spacing-large 0;

  &.first{
    margin-top: 0;
  }
}

// input sizes
input.input-small{
  display: inline-block;
  width: 150px;
}


// CUSTOM RADIOS AND CHECKBOXES
// ============================

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="radio"],
input[type="checkbox"] {
  & + label{
    @include user-select(none);
    border: 1px solid $gray40;
    padding: $spacing-xsmall $spacing-default;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: 100;
    margin-left: 0;
  }

  &.disabled, &:disabled{
    & + label{
      opacity: 0.3;
      cursor: default !important;
    }
  }

  &:checked{
    & + label{
      background-color: $gray40;
      color: $white;
    }
  }
}





// CHECKBOX SPECIFIC STYLES
// =========================
input[type="checkbox"]{
  & + label{
    position: relative;
    border-radius: 5px;
    padding-left: 50px;

    &:before{
      content: "";
      position: absolute;
      top: 4px;
      left: 4px;
      width: 27px;
      height: 27px;
      border-radius: 4px;
      background-color: $gray10;
    }
  }

  &:checked{
    & + label{
      &:before{
        background-color: $gray20;
      }

      &:after{
        position: absolute;
        font-family: FontAwesome;
        top: 5px;
        left: 8px;
        content: "\f00c";
        color: $black;
      }
    }
  }
}
