@import 'bourbon';
@import '../mixins';
@import '../variables_custom';
@import '../variables_foundation';
@import "../vendor/foundation/components/grid";

// HTML
html{
  font-size: 14px;
}

body{
  overflow-x: hidden;
}


// MAIN CONTAINER
.main-container{
  padding-bottom: $spacing-xxlarge;
}

// INNER CONTAINER
.container{
  max-width: 1000px;
  margin: 0 auto;
}


// ROW FULL WIDTH
.row-full-width {
  @include grid-row();
  max-width: 100%;

  .custom-column-class {
    @include grid-column(12);
  }
}

// SEPARATOR
.separator{
  position: relative;
  margin: $spacing-large 0;
  clear: both;

  &.large{
    margin: $spacing-large 0;
  }

  &.xlarge{
    margin: $spacing-xlarge 0;
  }

  &.xxlarge{
    margin: $spacing-xxlarge 0;
  }

  &.line{
    border-bottom: 2px solid $gray20;
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);

    .separator-text{
      position: relative;
      bottom: -18px;
      height: 30px;
      padding: 0 $spacing-default;
      background-color: $white;
      text-transform: uppercase;
    }
  }
}

.separator-tree{
  position: relative;
  margin: $spacing-xlarge 0;
  clear: both;
  width: 100%;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  &:after{
    content: "";
    border: 1px solid $gray20;
    border-bottom-width: 0;
    width: 50%;
    height: $spacing-xxlarge;
  }

  &.flipped{
    &:after{
      border-bottom-width: 1px;
      border-top-width: 0;
    }
  }
}

.vertical-line{
  position: relative;
  margin: $spacing-small 0;
  height: $spacing-large;
  clear: both;

  &.xlarge{
    height: $spacing-xlarge;
    margin: $spacing-large 0;
  }

  &.xxlarge{
    height: $spacing-xxlarge;
    margin: $spacing-large 0;
  }

  span{
    position: absolute;
    top: 0;
    left: 50%;
    background-color: $gray20;
    height: 100%;
    width: 1px;
  }
}

// FLEX POSITIONING CLASSES
.flex-bottom{
  @include display(flex);
  @include align-items(flex-end);
  @include justify-content(flex-end);
}

.flex-right{
  @include display(flex);
  @include align-items(flex-end);
  @include justify-content(flex-end);
}

.flex-center{
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
}
