html{
  font-size: 16px;
}

body{
  overflow-x: hidden;
  min-width: 1000px;
}

// MAIN CONTAINER
.main-container{
  padding-bottom: $spacing-xlarge;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}

// FLEX POSITIONING CLASSES
.flex-bottom{
  @include display(flex);
  @include align-items(flex-end);
  @include justify-content(flex-end);
}
.flex-right{
  @include display(flex);
  @include align-items(flex-end);
  @include justify-content(flex-end);
}
.flex-center{
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
}
