@import 'bourbon';
@import '../mixins';
@import '../variables_custom';
@import '../variables_foundation';


html{
  font-size: 14px;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}


.section{
}


// separator
.separator{
  margin: $spacing-large 0;
  clear: both;

  &.large{
    margin: $spacing-xxlarge 0;
  }

  &.line{
    border-bottom: 2px solid $gray20;
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);

    .separator-text{
      position: relative;
      bottom: -18px;
      height: 30px;
      padding: 0 $spacing-default;
      background-color: $white;
    }
  }
}


// position styles
.flex-bottom{
  @include display(flex);
  @include align-items(flex-end);
  @include justify-content(flex-end);
}

.flex-right{
  @include display(flex);
  @include align-items(flex-end);
  @include justify-content(flex-end);
}

.flex-center{
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
}
