.nav{
  z-index: 9;
  @include display(flex);
  @include align-items(flex-start);
  @include justify-content(flex-start);
  background-color: $navy-blue-dark;
  height: 100%;
  @include transition((min-width $transition-speed-default, opacity $transition-speed-default));
  min-width: 50px;

  .nav-logo{
    width: 100%;
    padding: $spacing-default;
  }

  &.active{
    min-width: 300px;

    .nav-content{
      width: 300px;
      opacity: 1;
    }
  }

  .nav-content{
    position: relative;
    height: 100vh;
    width: 0;
    opacity: 0;
    color: $white;
    overflow: hidden;
    @include transition((width $transition-speed-default, opacity $transition-speed-default));

    .nav-items{
      list-style: none;
      padding: 0;
      min-width: 300px;
      margin: $spacing-large;

      li{
        margin: $spacing-small 0;
      }
    }

    .nav-socialmedia{
      position: absolute;
      bottom: 0;
      width: 100%;
      min-width: 100px;
      text-align: center;
      padding: $spacing-small;
      background-color: $dark-blue;
    }
  }

  .nav-handle{
    min-width: 50px;
    height: 100vh;
    cursor: pointer;
    position: relative;
    text-align: center;
    background-color: $navy-blue;
    border-right: 1px solid $white;
    line-height: 100vh;
    .fa{
      color: $white;
    }
  }
}
