.nav{

  margin: 100px 0;

  .nav-items{
    list-style: none;
    text-align: right;
    line-height: 50px;

    li{
      display: inline-block;
      margin: 0 $spacing-small;
      font-weight: 400;
      text-transform: uppercase;

      a{
        color: $black;
      }
    }
  }

}
