@import '../vendor/foundation/components/global';

// disable that ugly blue outline
a, a:visited, a:focus, a:hover,
div, ul, li, span, label, select, input, textarea
{
	outline: 0;
}

a{
	&:hover{
		color: $primary-color;
	}
}

h1{
	text-align: center;
}

h1, h2, h3, h4, h5, h6{
	// color: $primary-color;
}

quote{
	font-size: rem-calc(30);
	font-weight: 100;
}

// reset ULs
ul.no-bullets
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
