// layouts
$container-width: 1000px;

// spacings
$spacing-xsmall: 5px;
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 40px;
$spacing-xlarge: 60px;
$spacing-xxlarge: 120px;
$spacing-default: $spacing-medium;

// colors
$black: #000000;
$white: #ffffff;
$red: #ff0000;
$yellow: #f0b025;
$green: #22b573;
$navy-blue: #002539;
$navy-blue-dark: #00273b;
$dark-blue: #001f2e;

// grays
$gray2:         darken(white, 2);
$gray5:         darken(white, 5);
$gray10:        darken(white, 10);
$gray20:        darken(white, 20);
$gray30:        darken(white, 30);
$gray40:        darken(white, 40);
$gray50:        darken(white, 50);
$gray60:        darken(white, 60);
$gray70:        darken(white, 70);
$gray80:        darken(white, 80);
$gray90:        darken(white, 90);

// fonts
$primary-font: 'Helvetica Neue', serif;
$secondary-font: 'Helvetica Neue', sans-serif;

// transitions
$transition-speed-fast: 0.2s;
$transition-speed-default: 0.3s;
$transition-speed-slow: 0.4s;

// borders
$border-color: $gray10;
