<footer>
  <div class="row">
    <div class="small-6 columns">
      Copyright {{ 'now' | date: "%Y" }} CorePath Robotics. All Rights Reserved
    </div>
    <div class="small-6 columns">
      <ul class="nav-items">
        <li>
          <a href="#technology">Technology</a>
        </li>
        <li>
          <a href="#applications">Applications</a>
        </li>
        <li>
          <a href="#team">Team</a>
        </li>
        <li>
          <a href="mailto:contact@corepath.dk">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
