<div class="container">
  <nav class="top-bar flex-center">
    <div class="column small-4">
      <div class="logo"><a href="#/"><img src="{% asset_path avenue_logo.svg %}" name="Avenue"></a></div>
    </div>
    <div class="column small-8">
      <div class="top-bar-section">
        <ul class="nav-items pull-right">
            <li class="nav-item"><a href="#/about">About us</a></li>
            <li class="nav-item"><a href="#/how">How it works</a></li>
            <li class="nav-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
