  <nav class="nav">
    <div class="nav-content">
      <div class="nav-logo"><a href="#/"><img src="{% asset_path logo.png %}" /></a></div>

      <ul class="nav-items">
        <li>
          <a href="#who-we-are">Who We Are</a>
          <ul>
            <li><a href="#who-we-are/values">Values &amp; Vision</a></li>
            <li><a href="#who-we-are/safety">Safety</a></li>
            <li><a href="#who-we-are/team">Leadership Team</a></li>
            <li><a href="#who-we-are/partnerships">Partnerships</a></li>
          </ul>
        </li>
        <li><a href="#what-we-do">What We Do</a></li>
        <li><a href="#careers">Careers</a></li>
        <li><a href="#contact">Contact Us</a></li>
        <li><a href="/">Hazportal</a></li>
      </ul>
      <div class="nav-socialmedia">
        <i class="fa fa-twitter"></i>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-linkedin"></i>
      </div>
    </div>

    <div class="nav-handle">
      <i class="fa fa-bars"></i>
    </div>
  </nav>
