<nav class="nav">
  <div class="row small-collapse">
    <div class="small-3 columns">
      <div class="nav-logo"><a href="#/"><img src="{% asset_path logo.png %}" /></a></div>
    </div>
    <div class="small-9 columns">
      <ul class="nav-items">
        <li><a href="#technology">Technology</a></li>
        <li><a href="#videos">Videos</a></li>
        <li><a href="#applications">Applications</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
