<div class="row text-center">
  <!-- Profile Jimmy -->
  <div class="small-12 medium-4 columns">
    <img src="/_assets/images/jimmy-profile-face-small.jpg">
    <h5 class="margin-none editable"><b>Jimmy Alison Jørgensen</b></h5>
    <h6 class="editable">CEO, Director</h6>
    <h6 class="editable"><a data-email-protector="jimmy|corepath.net">jimmy@corepath.net</a></h6>
    <h6 class="editable"><phone>+45 2025 2435</phone></h6>
  </div>

  <!-- Profile Sabina -->
  <div class="small-12 medium-4 columns">
    <img src="/_assets/images/sabinakethelz1_vingette.jpg">
    <h5 class="margin-none editable"><b>Sabina Kethelz</b></h5>
    <h6 class="editable">Business Developer Officer</h6>
    <h6 class="editable"><a data-email-protector="sabina|corepath.net">sabina@corepath.net</a></h6>
    <h6 class="editable"><phone>+45 4272 6697</phone></h6>
  </div>

  <!-- Profile Morten -->
  <div class="small-12 medium-4 columns">
    <img src="/_assets/images/morten_agerbak_riber_round.jpg">
    <h5 class="margin-none editable"><b>Morten Agerbæk Riber</b></h5>
    <h6 class="editable">Communications Consultant</h6>
    <h6 class="editable"><a data-email-protector="morten|corepath.net">morten@corepath.net</a></h6>
    <h6 class="editable"><phone>+45 5182 8495</phone></h6>
  </div>
</div>
