<!-- HORIZONTAL ALIGNED CHOICES -->
<!-- ========================== -->
<div class="choices-container horizontal">

  <div class="choices-marquee" ng-if="currentImage" ng-class="{'active': anyIsSelected(), 'bleed': bleed}">
    <div class="choices-marquee-image choices-marquee-image-default" ng-class="{'active': !anyIsSelected()}" style="background-image: url('{{ defaultImage }}');"></div>
    <div class="choices-marquee-image choices-marquee-image-1" ng-class="{'active': isSelected(1)}" style="background-image: url('{{ firstImage }}');"></div>
    <div class="choices-marquee-image choices-marquee-image-2" ng-class="{'active': isSelected(2)}" style="background-image: url('{{ secondImage }}');"></div>
    <div class="choices-marquee-image choices-marquee-image-3" ng-class="{'active': isSelected(3)}" style="background-image: url('{{ thirdImage }}');"></div>
    <div class="container">
      <h2 class="choices-question white">{{ question }}</h2>
    </div>
  </div>

  <div class="container">
    <choices-buttons />
  </div>

  <div class="separator"></div>

  <div class="row">
    <div class="column small-12">

      <div class="choice-description flex-left" ng-show="isSelected(1)">
        <p class="text-left">{{ firstDescription }}</p>
      </div>
      <div class="choice-description flex-center" ng-show="isSelected(2)">
        <p class="text-center">{{ secondDescription }}</p>
      </div>
      <div class="choice-description flex-right" ng-show="isSelected(3)">
        <p class="text-right">{{ thirdDescription }}</p>
      </div>
    </div>
  </div>

</div>

<div ng-include src="'pages/templates/preload-images.html'"></div>
