<!-- VERTICAL ALIGNED CHOICES -->
<!-- ========================== -->
<div class="choices-container vertical">
  <div class="container">

    <div class="row collapse">

        <div class="column small-6" ng-class="{'small-push-6' : align == 'left'}">
          <img class="rounded choices-image" ng-src="{{ currentImage }}" />
        </div>
        <div class="column small-1"></div>
        <div class="column small-5" ng-class="{'small-pull-7': align == 'left'}">
          <h2 class="text-center choices-question">{{ question }}</h2>
          <choices-buttons />

          <div class="clearfix"></div>
        </div>

    </div>

    <div class="row">
      <div class="column small-12 margin-top-xlarge">
        <div class="choice-description flex-center" ng-show="isSelected(1)">
          <p class="text-center">{{ firstDescription }}</p>
        </div>
        <div class="choice-description flex-center" ng-show="isSelected(2)">
          <p class="text-center">{{ secondDescription }}</p>
        </div>
        <div class="choice-description flex-center" ng-show="isSelected(3)">
          <p class="text-center">{{ thirdDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
