<!-- HORIZONTAL ALIGNED CHOICES -->
<!-- ========================== -->
<div class="choices-container horizontal">

  <div class="container" ng-show="question">
    <h2 class="choices-question">{{ question }}</h2>
  </div>

  <div class="choices-marquee {{ bleed ? 'bleed' : '' }}" ng-show="defaultImage">
    <div class="choices-marquee-image choices-image-default" style="background-image: url('{{ defaultImage }}');"></div>
    <div class="choices-marquee-image choices-image-1" style="background-image: url('{{ firstImage }}');"></div>
    <div class="choices-marquee-image choices-image-2" style="background-image: url('{{ secondImage }}');"></div>
    <div class="choices-marquee-image choices-image-3" style="background-image: url('{{ thirdImage }}');"></div>
  </div>

  <div class="container">
    <choices-buttons />
  </div>

  <div class="separator"></div>

  <div class="container">
    <div class="row">
      <div class="column small-12">

        <div class="choice-description choice-description-1 flex-left">
          <p class="text-left">{{ firstDescription }}</p>
        </div>
        <div class="choice-description choice-description-2 flex-center">
          <p class="text-center">{{ secondDescription }}</p>
        </div>
        <div class="choice-description choice-description-3 flex-right">
          <p class="text-right">{{ thirdDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include src="'pages/templates/preload-images.html'"></div>
