<!-- VERTICAL ALIGNED CHOICES -->
<!-- ========================== -->
<div class="choices-container vertical">
  <div class="container">

    <div class="row collapse">

        <div class="column small-6 {{ align == 'left' ? 'small-push-6' : '' }}">
          <div class="choices-image-wrapper {{ align }} {{ bleed ? 'bleed' : 'rounded' }}">
            <div class="choices-image choices-image-default" style="background-image: url('{{ defaultImage }}');"></div>
            <div class="choices-image choices-image-1" style="background-image: url('{{ firstImage }}');"></div>
            <div class="choices-image choices-image-2" style="background-image: url('{{ secondImage }}');"></div>
            <div class="choices-image choices-image-3" style="background-image: url('{{ thirdImage }}');"></div>
          </div>
        </div>
        <div class="column small-6 {{ align == 'left' ? 'small-pull-6' : '' }}">
          <h2 class="text-center choices-question">{{ question }}</h2>
          <choices-buttons />

          <div class="clearfix"></div>
        </div>

    </div>

    <div class="row">
      <div class="column small-12 margin-top-xlarge">
        <div class="choice-description choice-description-1 flex-center">
          <p class="text-center">{{ firstDescription }}</p>
        </div>
        <div class="choice-description choice-description-2 flex-center">
          <p class="text-center">{{ secondDescription }}</p>
        </div>
        <div class="choice-description choice-description-3 flex-center">
          <p class="text-center">{{ thirdDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include src="'pages/templates/preload-images.html'"></div>
