// --------------------------------------------------
// Config
// --------------------------------------------------

//
// Colors
// --------------------------------------------------

$grey12:        lighten(black, 12);
$grey17:        lighten(black, 16.5);
$grey20:        lighten(black, 20);
$grey22:        lighten(black, 22);
$grey25:        lighten(black, 25);
$grey29:        lighten(black, 29);
$grey32:        lighten(black, 32);
$grey40:        lighten(black, 40);
$grey52:        lighten(black, 52);
$grey60:        lighten(black, 60);
$grey71:        lighten(black, 71);
$grey80:        lighten(black, 80);
$grey84:        lighten(black, 83.9);
$grey89:        lighten(black, 89.9);
$grey90:        lighten(black, 90.2);
$grey93:        lighten(black, 92.5);
$grey94:        lighten(black, 94);
$grey95:        lighten(black, 94.9);
$grey96:        lighten(black, 96.1);
$grey97:        lighten(black, 97);

$site-max-width: 1440px;


// spacings
$spacing-small: 10;
$spacing-medium: 20;
$spacing-large: 30;
$spacing-xlarge: 50;
