// --------------------------------------------------
// Elements
// --------------------------------------------------


quote {
  font-size: rem-calc(25);
  line-height: rem-calc(35);

  @include breakpoint(medium){
    font-weight: 100;
    font-size: rem-calc(40);
    line-height: rem-calc(50);
  }
}


// circles features
.circles-wrapper{
  @include flex-grid-row();
  @include flex-align(center);

  .circle{
    @include flex();
    @include flex-align(center, middle);
    @include flex-grid-column(2);
    box-shadow: inset 0 0 0 12px $primary-color;
    border-radius: 50%;
    line-height: rem-calc(30);
    text-align: center;
    font-size: rem-calc(24);
    margin: rem-calc(0 20 20);
    font-weight: bold;
    min-height: rem-calc(220);
    min-width: rem-calc(220);
    @include transition(box-shadow 0.2s);

    .circle-bg{
      border: 10px solid $primary-color;
      border-style: inset;
      border-radius: 50%;
    }

    &:hover{
      box-shadow: inset 0 0 0 80px $primary-color;
    }
  }
}
