$footer-height: rem-calc(80);

html{
  position: relative;
  min-height: 100%;
}

body, html{
  height: auto;
}

body {
  margin-bottom: $footer-height;
  font-size: rem-calc(18);
  line-height: rem-calc(22);
  padding-top: rem-calc(80);

  @include breakpoint(medium){
    min-width: rem-calc(350);
  }
}

// CONTENT
.container{
  max-width: $global-width;
  padding: 0 rem-calc(20);
  margin: 0 auto;
}

.section-default{
  padding: rem-calc(20) 0;

  @include breakpoint(large){
    padding: rem-calc(60) 0;
  }
}

.section-primary{
  background-color: $grey20;

  &, h1, h2, h3, h4, h5, h6, a{
    color: $white;
  }
}

footer {
  @include flex();
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;

  .columns{
    @include flex-align-self(middle);
  }

  > .row{
    width: 100%;
  }

  color: $black;
  background-color: $primary-color;

  .nav-items{
    margin-bottom: 0;

    li {
      font-weight: bold;
      display: inline-block;
      margin-left: rem-calc(20);
      a{
        color: $black;
      }
    }
  }
}
